@{
  Layout = "_Layout";
}

<h1>Add a course</h1>
<p>Add a course here:</p>

<form action="/courses" method="post">
  <label for="courseName">Category name</label>
  <input id="courseName" name="courseName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/courses">Back to courses.</a></p>